<!DOCTYPE html>
<html>

<body>
  <h2>Selamat Datang di Bacarita, <%= parentUsername %>!</h2>
  <p>Kami senang Anda bergabung!</p>
  <p>Akun Anda telah berhasil dibuat dengan rincian berikut:</p>
  <ul>
    <li><strong>Peran:</strong> Anak</li>
    <li><strong>Nama Pengguna Anak:</strong>
      <%= studentUsername %>
    </li>
    <li><strong>Kata Sandi Anak:</strong>
      <%= studentPassword %>
    </li>
  </ul>
  <p>Jika Anda memiliki pertanyaan atau butuh bantuan, jangan ragu untuk menghubungi tim dukungan kami.</p>
  <p>Salam hangat,<br>Tim Bacarita</p>
</body>

</html>